* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 3vh, 2vh;
    font-family: 'segoe ui';
}

#Bom-Div {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 6;
    background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(237, 237, 237);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
}

#Super-M {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
    margin: auto;
}

.Web_topImg {
    width: 100%;
    min-width: none;
}

.nav {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(118, 189, 5);
    position: sticky;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    text-align: center;
    /* bc */
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:930px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.848);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        z-index: 5;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(50vh - 50px);
        overflow-y: auto;
    }
}

.Heading-h {
    display: inline;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

#h3Head-h {
    font-size: 45px;
    padding: 0;
    margin: 0;
}


.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 1000px;
    /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 3% 1%;
    z-index: -44;
}

/* Styles for the slider images */
.slider img {
    width: 100%;
    height: auto;
    display: block;
}

/* Styles for navigation buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}






/* 
.slider {
    margin: 4% auto;
    max-width: 940px;
    z-index: -2;
}

.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    /* background: #D7A151; */
    /* background-image: url("img/slide01.jpg");
    background-size: cover;
    background-position: center;
} */

/* .slide:nth-of-type(2) {
    background-image: url("img/slide02.jpg");
    background-size: cover;
    background-position: center;
}

.slide:nth-of-type(3) {
    background-image: url("img/slide03.jpg");
    background-size: cover;
    background-position: center;
}

.slide:nth-of-type(4) {
    background-image: url("img/slide04.jpg");
    background-size: cover;
    background-position: center;
} */

/* .slide:nth-of-type(5) {
    background-image: url("img/slide05.jpg");
    background-size: cover;
    background-position: center;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
} */

/* a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
} */

/* .directional_nav {
    height: 90px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -220px;
    z-index: 1;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
} */

/* .previous_btn,
.next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
} */
/* 
@media only screen and (max-width: 930px) {
    .previous_btn {
        left: 50px;
    }

    .next_btn {
        right: 50px;
    } */

    /* .main1T-h {
        display: flex;
        flex-direction: column; */
        /* flex-flow: row; */
        /* grid-auto-rows: minmax(100px, auto); */
        /* grid-auto-columns: minmax(50px, auto); */
        /* padding: 0 12px;
    } */
/* } */

@media (max-width:930px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.848);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        z-index: 5;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(50vh - 50px);
        overflow-y: auto;
    }

    /* .main1T-h {
        display: grid;
        flex-direction: column;
        flex-flow: row;
        /* grid-auto-rows: minmax(100px, auto);
        grid-auto-columns: minmax(50px, auto); */
        /* padding: 0 12px; */
    /* }  */
    /* #T1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    } */ 
}
/* 
.main1T-h {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(auto-fill,minmax(70vh,3fr));
    grid-auto-rows: minmax(10px, auto);
    grid-auto-columns: minmax(5px, auto); */
    /* padding: 0 12px; */
    /* justify-content: center; */
    /* overflow:scroll; */
/* } */



.track {
    background-color: #fcfff4d5;
    border: 2px solid rgb(239, 239, 239);
    /* min-width: 300px; */
    /* overflow: auto; */
    font-size: 24px;
    font-weight: bold;
    border-radius: 23px;
    padding: 3%;
    width: auto;
    margin: 10px 10px;
    box-shadow: 0px 0px 10px rgba(169, 169, 169, 0.737);
    /* box-shadow: inset 0px 0px 10px rgba(169, 169, 169, 0.737); */
    /* justify-content:stretch; */
    /* position: relative; */
}
/* .track> 

.spanT { */
    /* font-size: 23px; */
    /* font-weight: bold; */
    /* color: orange; */
/* } */

/* hr { */
    /* width: 80%; */
    /* background: #ffffff; */
/* } */ 

/* #T1 {
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; */
/* }  */

/* .content {
    background-color: #ededed;
    padding-bottom: 23px;
} */
/* @media (max-width:930px) {
    .main1T-h {
        display: flex;
        flex-direction: column;
        /* grid-template-columns: repeat(auto-fill,minmax(70vh,3fr));
        grid-auto-rows: minmax(10px, auto);
        grid-auto-columns: minmax(5px, auto); */
        /* padding: 0 12px; */
        /* justify-content: center; */
        /* overflow:scroll; */
    /* } */
/* } */ 

.container{
    padding: 33px 0px;
}

.section1{
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    z-index: -5000;
  }
  .dynamic-div h2 {
    font-size: 25px;
    height: auto;
    color: chocolate;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 23px 0;
  
  
  }
  /* 
  #scroll-container1 {
    /* border: 2px solid rgb(56, 122, 26); */
    /* border-radius: 5px; */
    /* height: 100px; */
    /* overflow: hidden; */
  /* } */
  #scroll-container2 {
    /* border: 2px solid rgb(56, 122, 26); */
    border-radius: 5px;
    height: 46%;
    overflow: hidden;
  }
  #scroll-container3 {
    /* border: 2px solid rgb(56, 122, 26); */
    border-radius: 5px;
    height: 46%;
    overflow: hidden;
  }
  #scroll-container4 {
    /* border: 2px solid rgb(56, 122, 26); */
    border-radius: 5px;
    height: 45%;
    overflow: hidden;
  }
  #scroll-container5 {
    /* border: 2px solid rgb(56, 122, 26); */
    border-radius: 5px;
    height: 69%;
    overflow: hidden;
  }
  #scroll-container6 {
    /* border: 2px solid rgb(56, 122, 26); */
    border-radius: 5px;
    height: 43%;
    overflow: hidden;
  }
  #scroll-container7 {
    /* border: 2px solid rgb(56, 122, 26); */
    border-radius: 5px;
    height: auto;
    overflow: hidden;
  } */
  
  /* #scroll-text { */
    /* height: 100%;
    text-align: center; */
  
    /* animation properties */
    /* -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
    animation: scroll-animation 15s linear infinite; */
  /* } */
  
  /* for Firefox */
  /* @-moz-keyframes my-animation { */
    from {
      -moz-transform: translateY(00%);
    }
  
    to {
      -moz-transform: translateY(-100%);
    }
  /* } */
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from {
      -webkit-transform: translateY(00%);
    }
  
    to {
      -webkit-transform: translateY(-100%);
    }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(00%);
      -webkit-transform: translateY(00%);
      transform: translateY(00%);
    }
  
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    
  
  
  }
  
  .ripple-background{
    z-index: -200;
  }
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
    z-index: 0;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }