/* Styles for header */
.header {
  background-color: #ffffff;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

/* Styles for upper section */
.upper-section {
  /* height: 300px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.image-container {
  /* display:flex; */
  /* width: 30px; Adjust width as needed */
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  margin: 0;
}

.image-container img {
  width: 100%;
  /* display: block; */
}


/* Styles for lower section */
.lower-section {
  text-align: center;
  padding-top: 20px;
  font-size: 38px;
}

.lower-section h1 {
  font-size: 24px;
  margin: 0;
  color: rgb(219, 144, 7);
}

@media (max-height: 500px) {
  .image-container img {
    width: 100%;
    /* display: block; */
  }
  .lower-section{
    font-size:9px;
  }
}